src/main/app/maven-project-sayeed.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <spring:beans>
        <spring:bean id="DerbyBean" name="DerbyDataSource" class="com.mulesoft.training.Database"/>
    </spring:beans>
    <db:derby-config name="Derby_Connection" url="jdbc:derby:memory:muleEmbeddedDB;create=true" doc:name="Derby Configuration"/>
    <flow name="mavenFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/hello" doc:name="HTTP"/>
        <set-payload value="#['Hello Maven']" doc:name="Set Payload"/>
    </flow>
    <flow name="retrieveFilghts">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flights" allowedMethods="GET" doc:name="HTTP"/>
        <db:insert config-ref="Derby_Connection" doc:name="Database">
            <db:parameterized-query><![CDATA[INSERT INTO FLIGHTS(PRICE, DESTINATION, ORIGIN) VALUES (777, 'SFO','YYZ')]]></db:parameterized-query>
        </db:insert>
        <db:select config-ref="Derby_Connection" doc:name="Database:Query FLIGHTS">
            <db:parameterized-query><![CDATA[SELECT * FROM FLIGHTS]]></db:parameterized-query>
        </db:select>
        <object-to-string-transformer doc:name="Object to String"/>
    </flow>
</mule>
